.search-bar {
  border: solid #1e2099;
  border-radius: 20px;
}

.form-control {
  border: none;
}

.search-button {
  margin: auto 0;
  text-align: center;
}
.clear-button {
  margin: auto 0;
  text-align: center;
}

mat-spinner {
  width: 10px;
}


