<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand px-3" href="#">Stock Search</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active px-3" routerLink="/search/home">
        Search
      </a>
      <a class="nav-item nav-link px-3" routerLink="/watchlist">
        Watchlist
      </a>
      <a class="nav-item nav-link px-3" routerLink="/portfolio">
        Portfolio
      </a>
    </div>
  </div>
</nav>

