<nav class="navbar navbar-expand-lg navbar-light bg-primary px-2">
  <a class="navbar-brand px-3" href="#" style="color:white">Stock Search</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggler"
    aria-controls="navbarToggler"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="changeTogglerStatus()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse flex-row-reverse" [ngClass]="togglerStatus"  id="navbarToggler">
    <div class="navbar-nav">
      <a class="nav-item nav-link px-3"  type="button"
         routerLink = "{{getHomeLink()}}" routerLinkActive="router-link-active"
         (click)="changeTogglerStatus()"
         style="color:white; text-align: right">
        Search
      </a>
      <a class="nav-item nav-link px-3"  type="button"
         routerLink="/watchlist" routerLinkActive="router-link-active"
         (click)="changeTogglerStatus()"
         style="color:white; text-align: right">
        Watchlist
      </a>
      <a class="nav-item nav-link px-3" type="button"
         routerLink="/portfolio" routerLinkActive="router-link-active"
         (click)="changeTogglerStatus()"
         style="color:white; text-align: right">
        Portfolio
      </a>
    </div>
  </div>
</nav>

