<div class="search-bar d-flex container col-xm-5" style="max-width: 600px">
  <div class="search-form ps-3 me-auto">
    <form [formGroup]="tickerForm" (ngSubmit)="onSubmit()">
      <input class="form-control shadow-none"
             id="ticker"
             type="text"
             size="45"
             placeholder="Enter stock ticker symbol"
             formControlName="ticker"
             [matAutocomplete]="auto"
             style="background: transparent"
      >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngIf="isLoading">
          <mat-spinner diameter="30"></mat-spinner>
        </mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let option of tickerAutocompleteOptions" [value]="option.symbol" (click)="onSubmit()">
            {{option.symbol}} | {{option.description}}
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </form>

  </div>
  <a class="d-flex search-button px-3 justify-content-end" type="button" (click)="onSubmit()">
    <i class="bi bi-search" type="button" style="font-size: 1.4rem; color:#1e2099"></i>
  </a>
  <a class="d-flex clear-button pe-4 justify-content-end" type="button" (click)="reset()">
    <i class="bi bi-x-lg" type="button" style="font-size: 1.3rem; color:#1e2099"></i>
  </a>
</div>

<ng-container *ngIf="emptyTickerSubmitted && this.tickerForm.controls['ticker'].value === ''">
  <ngb-alert class="my-4" type="danger" [dismissible]="true">
    Please enter a valid ticker
  </ngb-alert>
</ng-container>

