<div class="modal-header">
  <h4 class="modal-title">{{ticker}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <p>
    Current Price: {{currentPrice | number: '0.2-2'}}
  </p>
  <p>
    Money in Wallet: ${{balance  | number: '0.2-2'}}
  </p>
  <div class="d-flex">
    <p class="my-auto pe-2">Quantity: </p>
    <div class="col-xs-1">
      <input type="number" class="form-control" [formControl]="quantity">
    </div>

  </div>
  <p *ngIf="checkIfQuantityIsValid() > 0" [ngStyle]="{color: 'red'}" class="mt-4">
    {{errorMessage[checkIfQuantityIsValid()]}}
  </p>
</div>
<div class="modal-footer">
  <div class="row w-100">
    <div class="col-6 d-flex align-self-center">
      Total: {{calculateTotal() | number: '0.2-2'}}
    </div>
    <div class="col-6 d-flex justify-content-end">
      <button type="button"
              class="btn btn-success"
              [disabled]="checkIfQuantityIsValid() > 0"
              (click)="submitTransaction()">
        <div class="px-2">
          {{transactionType}}
        </div>
      </button>
    </div>
  </div>
</div>
