#ticker-logo {
  width: 5rem;
  height: 5rem;
}

#today-prices .mat-list-base .mat-list-item {
  height: 30px;
}

#company-description .mat-list-base .mat-list-item {
  height: 40px;
}

a{
  text-decoration: none;
}
